header {
    background-color: #f0efe9;
    display: flex;
    padding: 10px;
    

    .container {
        display: flex;


        @media (min-width: 2500px) {
            max-width: 2048px;
        }

    }



}