@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');



html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid 191919;
        color: white;
    }
}

header {
    background-color: #f0efe9;
    display: flex;
    padding: 16px;
    
    

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px; 

        .menu-bars{
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
        
        .menu{
          display: none;
          flex: 1;
          


          @media (min-width: 992px) {
            display: block;
            }
            



            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #dad9d3;
                padding-bottom: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }

                .contact-info {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        display: flex;
                    }
    
                    

                    .contact-info-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #dad9d3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            margin-right: 5px;
                            font-size: 1.2em;
                        }

                        &.last {
                            border: none;
                        }
                    }
                }

                .social-media {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 10px;

                        &:hover {
                            color: #666666;
                        }
                    }


                }

                
            }

            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav{
                    a{
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active{
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));

                        } 
                    }
                }
                
                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            
            }



        }


    }



}


.showcase {
    background-color: #f0efe9;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content{
             padding-top: 40px;
             padding-bottom: 40px;   
             text-align: center;

             @media (min-width: 1200px) {
                text-align: left;
             }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            a {
                margin-right: 0px;
                display: block; 
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }

        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }

    }

    .showcase-wave-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto; 
        height: auto; 

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.company-info {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: none
        }

        .companyimg {
            width: 150px;
            height: auto;
        }
    }
}

.features {
    margin-top: 100px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 1320px;
        height: 600px;

        .features-leftside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;

            h2.feature-title {
                margin-top: 5px;
                font-size: 18px;
                color: #FF4500; 
            }

            .second-title {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 40px;
                font-weight: bold;
            }

            .button-learnmore {
                display: flex;
                flex-direction: row;
                margin-top: 70px;
            }
        }

        .features-rightside {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 20px;
            row-gap: 20px;
            column-gap: 20px;    
            

            .custom-card {
               

                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h5 {

                        margin-top: 10px;
                        margin-bottom: 10px;
                        
                       
                    }

                    p {

                        margin-top: 10px;
                    }
                    

                    i {
                        margin-bottom: 20px;
                        font-size: 4em;

                    }
                }
            }
        }
    }
}

.about-company {

    .container {
      width: 1320px;
      height: 615px;
      display: flex;
      justify-content: space-between;
    
  
        .left-side {
                    
            flex: 1;
            position: relative; 
    
            img {
            width: 533px;
            height: 615px;
            object-fit: cover; 
            }
    
            .blue-box {
            position: absolute;
            width: 340px;
            height: 150px;
            background-color: lightblue;
            top: 450px;
            left: -25px;
            
              h2 {
                  margin: 0; 
                  padding: 10px 20px;
                  font-size: 20px;
                  font-weight: bold;
                
                  color: #000; 
        
                    .title {
                        color: #FF4500; 
                        font-size: 16px;
                    } 

                }

                p {
                    padding: 10px 20px;
                    margin: 0;
                    
                }


            }
  
           
            
        }



        .right-side {

            flex: 1;
            padding: 20px 0; 
            
            h6 {
                color: #FF4500;
                margin-bottom: 20px; 
            }
        
            h1 {
                font-weight: bold;
                margin-bottom: 50px; 
            }
        
            .subtext {
                p {
                    margin-bottom: 250px; 
                }
            }
        
            button {
                background-color: black;
                color: white;
                border: none;
                border-radius: 25px;
                padding: 10px 20px;
                margin-bottom: 20px; 
                transition: background-color 0.3s, color 0.3s;
        
                &:hover {
                    background-color: white;
                    color: black;
                }
        
                i.fa-solid.fa-arrow-up-right {
                    margin-left: 10px;
                }
            }
        
            .introvideo {
                display: inline-block;
                position: relative;
                text-decoration: none; 
        
                i {
                   margin-right: 30px; 
                }
        
                i.fa-regular.fa-circle-play {
                    margin-left: 20px;   
                    font-size: 35px;          
                    transition: color 0.3s;  
                    vertical-align: middle;  
        
                    &:hover {
                        color: #FF4500;       
                    }
                }
            }
        }
        
        
        

    }
  
}

.beige-box {
    width: 100%;
    background-color: #F0EFE9;
    position: relative;
    padding: 100px 0;
    margin-top: 50px;

    .container {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .our-services, h1 {
            text-align: center;
        }

        .our-services {
            color: #FF4500;
            margin-bottom: 20px;
        }

        h1 {
            font-weight: bold;
            margin-bottom: 40px;
        }

        .content-box {

                .tile {
                    width: 308px;
                    height: 333px;
                    background-color: white;
                    text-align: center;
                    padding: 20px;
                    box-sizing: border-box;
                    position: relative;
                    margin-bottom: 20px;

                    &.white-tile {
                        &:hover {
                            background-color: #F0D082;
                            color: black;
                        }
        
                    }
    
                    h6 {
                        margin-top: 50px;
                    }
    
                    p {
                        margin-bottom: 50px;
                    }
    
                    .decorative-stripe {
                        width: 50px;
                        height: 5px;
                        background-color: black;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }
    
                    .circle-btn {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                    }
    
                }
    
                .black-btn {
                    background-color: black;
                    color: white;
                    border: none;
                    transition: background-color 0.3s, color 0.3s;
                    text-decoration: none;
    
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
    
                .white-btn {
                    background-color: white;
                    color: black;
    
                    &:hover {
                        background-color: #000;
                        color: white;
                    }
                }
            }
    }
  

    .image-our-services {
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.custom-section {
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        width: 1500px;
        height: 630px;
        gap: 20px; 
       

        .left-column {
            width: 28%;
            padding-right: 15px;
            

            h6 {
                margin-bottom: 30px;
                color: #FF4500;
            }


            .main-title {
                font-weight: bold;
                margin-bottom: 40px;
            }

            .cards {
                display: flex;
                flex-direction: column;
          
                h4 {
                    margin-bottom: 15px;
                    font-weight: bold;
    
                    i {
                        margin-right: 10px;
                    }
                }

                .under-text {
                    margin-left: 35px;
                }

                .card {
                    width: 330px;
                    height: calc(630px/4);
                    display: flex;
                    align-items: start; 
                    border: none;  

                    .icon-container {
                        
                    

                        i {
                            font-size: 24px;
                            border: 1px solid lightgray;
                            border-radius: 50%;
                            padding: 10px;
                        }
                    }

                    .text-container {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;

                        h1 {
                            margin: 0;
                            margin-bottom: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        //--------------------------------------------------------------------------------------------------
        .right-column {
            width: 30%;
            padding-left: 15px;
            position: relative;
            

            .beige-box {
                width: 1057px;
                height: 425px;
                background-color: #F0EFE9;
                position: absolute;
                top: 280px;
                left: 50%; 
                transform: translateX(-65%); //justerar den beiga bakgrunden vid behov av ändring i x-led
            }

            .overlapping-image {
                width: 700px;
                height: 520px;
                position: absolute;
                top: 50px;
                left: 33%;
                transform: translateX(-65%); //justerar överlappande bild vid behov av ändring i x-led
            }
        }
    }
}

// Project and Cases Studies-------------------------------------------------------------------------------------

.project-section {
    
    .container {
      width: 1320px;
      height: 1400px;
      background-color: white;
  
      h6 {
        color: #FF4500;
        z-index: 10;
        text-align: center;
        margin-top: 200px;
      }
  
      h1 {
        color: black;
        font-weight: bold; 
        z-index: 10;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    
      }
  
      .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
  
        .card {
          position: relative; 
          width: 645px;
          height: 445px;
          border: 1px solid lightgray;
  
          img {
            width: 645px;
            height: 300px;
          }
  
          p {
            color: black;
            position: absolute;
            bottom: 50px;
            left: 20px;
          }
  
          hr {
            position: absolute;
            bottom: 40px;
            left: 20px;
            width: 90%; 
          }
  
          .read-more {
            position: absolute; 
            bottom: 20px; 
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: bold;
            text-decoration: none;
            color: black;
  
            i {
              margin-left: 10px;
            }

            &:hover {
                color: #FF4500;
                
            }

            
          }
        }
      }
  
      .projects-btn {
        display: block;
        width: 238px;
        height: 56px;
        background-color: black;
        color: white;
        border-radius: 28px;
        text-align: center;
        line-height: 56px;
        margin: 100px auto 0;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
  
        i {
          margin-left: 10px; 
        }
  
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
}
